<style>
body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
     
  }
  h2 {
      font-size: 24px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: #303030;
      font-weight: 400;
      margin-bottom: 30px;
  }
  .jumbotron {
      /* background-color: #f4511e; */
      background-image: url("https://static.pexels.com/photos/24146/pexels-photo.jpg");
      background-size: 1243px 600px;
      color: #fff;
      padding: 290px 25px;
      font-family: Raleway, sans-serif;
      font-size: 250%;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
  }
  .container-fluid {
      padding: 60px 50px;
  }
  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  .item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }
  .panel {
      border: 1px solid #f4511e;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #f4511e !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #f4511e;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #2d2d30;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Raleway, sans-serif
       opacity: 0.5
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }
  </style>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">trend setters</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">about</a></li>
        <li><a href="#forecast">forecast</a></li>
        <li><a href="#trending">trending</a></li>
        <li><a href="#contact">sign up</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="jumbotron text-center">
  <p>weather driven fashion</p>

 </div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About</h2>
      <br>
      <h4>Fashionable outfits inspired by unique weather</h4><br>
      <p>We know the feeling you get when you go about your day fearless until... it starts to rain. So we're prepared to give you a jumpstart on your day by curating a unique message based upon your location to make sure your prepared for the worst. To become apart of this clickbelow  </p>
      <br>
      <input type="button" class="btn btn-default btn-lg slideanim" value = "Sign me up" onClick="document.getElementById('contact').scrollIntoView();" />
    </div>
    <div class="col-sm-4">
      <span style=font-size:150px class="glyphicon glyphicon-cloud"></span>
    </div>
  </div>
</div>




<!-- Container (Forecast Section) -->
<div id="forecast" class="container-fluid text-center bg-grey">
  <h2>FORECAST</h2>
  <h4>What your day will look like</h4>
  <br>
  <h4> FORECAST WEATHER INFORMATION GOES HERE</h4>
   <div class=container>
     <div class= row>
       <div id=weather></div>
    </div>
  </div>
</div>


<!-- Container (Trending Section) -->
<div id="trending" class="container-fluid text-center">
  <h2>TRENDING</h2><br>
  <h4>PLACEHOLDER FOR CLOTHES AND TRENDING SHIT BASED ON THE SEASON</h4>
  </div>
  
  

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">SIGN UP HERE U LITTLE SHITS</h2>
  
  
    <%= form_for :user_info, url: user_infos_path do |f| %>
 <div class="row">
    <div class="col-sm-4 form-group"> 
        <%= f.label :name %>
         <%= f.text_field :name, placeholder: "Name" %>
      
    </div>
      <div class="col-sm-4 form-group">
         <%= f.label :number %>
         <%= f.text_field :number, placeholder: "Number" %>
      
    </div>
      <div class="col-sm-4 form-group"> 
         <%= f.label :zip %>
         <%= f.text_field :zip, placeholder: "Zipcode" %>
       
      </div>
</div>
      <div class=row> 
       <div class= 'col-sm-12 btn btn-default btn-lg slideanim'>
       <%= f.submit %>
       
       </div>
  
    <% end %>




<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>crafted by <span class= "service"></span></span>Las Tormentas</p>
</footer>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


