
<div class="jumbotron text-center">
  <p>weather driven fashion</p>

 </div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About</h2>
      <br>
      <h4>Fashionable outfits inspired by unique weather</h4><br>
      <p>We know the feeling you get when you go about your day fearless until... it starts to rain. So we're prepared to give you a jumpstart on your day by curating a unique message based upon your location to make sure your prepared for the worst. To become apart of this clickbelow  </p>
      <br>
      <input type="button" class="btn btn-default btn-lg slideanim" value = "Sign me up" onClick="document.getElementById('contact').scrollIntoView();" />
    </div>
    <div class="col-sm-4">
      <span style=font-size:150px class="glyphicon glyphicon-cloud"></span>
    </div>
  </div>
</div>




<!-- Container (Forecast Section) -->
<div id="forecast" class="container-fluid text-center bg-grey">
  <h2>FORECAST</h2>
  <h4>What your day will look like</h4>
  <br>
  <h4> FORECAST WEATHER INFORMATION GOES HERE</h4>
   <div class=container>
     <div class= row>
       <div id=weather></div>
    </div>
  </div>
</div>


<!-- Container (Trending Section) -->
<div id="trending" class="container-fluid text-center">
  <h2>TRENDING</h2><br>
  <h4>PLACEHOLDER FOR CLOTHES AND TRENDING SHIT BASED ON THE SEASON</h4>
  </div>
  
  

<!-- Container (Contact Section) -->
<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">SIGN UP HERE U LITTLE SHITS</h2>
  
  
    <%= form_for :user_info, url: user_infos_path do |f| %>
 <div class="row">
    <div class="col-sm-4 form-group"> 
        <%= f.label :name %>
         <%= f.text_field :name, placeholder: "Name" %>
      
    </div>
      <div class="col-sm-4 form-group">
         <%= f.label :number %>
         <%= f.text_field :number, placeholder: "Number" %>
      
    </div>
      <div class="col-sm-4 form-group"> 
         <%= f.label :zip %>
         <%= f.text_field :zip, placeholder: "Zipcode" %>
       
      </div>
</div>
      <div class=row> 
       <div class= 'col-sm-12 btn btn-default btn-lg slideanim'>
       <%= f.submit %>
       
       </div>
  
    <% end %>
    
</div>



<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>crafted by <span class= "service"></span></span>Las Tormentas</p>
</footer>


<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
        if (pos < winTop + 600) {
          $(this).addClass("slide");
        }
    });
  });
})
</script>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>


